---
#  _                 _       _                     ___            _        
# | |__   ___   ___ | |_ ___| |_ _ __ __ _ _ __   / / |_ __ _ ___| | _____ 
# | '_ \ / _ \ / _ \| __/ __| __| '__/ _` | '_ \ / /| __/ _` / __| |/ / __|
# | |_) | (_) | (_) | |_\__ \ |_| | | (_| | |_) / / | || (_| \__ \   <\__ \
# |_.__/ \___/ \___/ \__|___/\__|_|  \__,_| .__/_/   \__\__,_|___/_|\_\___/
#  
# install-pkg
- block:
    - name: install-pkg | FreeBSD | Each packages should be removed
      pkgng:
        name:  "{{ item }}"
        state: "absent"
      with_items: "{{ bootstrap.packages.freebsd.removed }}"

    - name: install-pkg | FreeBSD | Each package for development should be installed
      pkgng:
        name:  "{{ item }}"
        state: "present"
      with_items: "{{ bootstrap.packages.freebsd.install.devel }}"

    - name: install-pkg | FreeBSD | Each package for utils should be installed
      pkgng: 
        name:  "{{ item }}"
        state: "present"
      with_items: "{{ bootstrap.packages.freebsd.install.utils }}"

    - name: install-pkg | FreeBSD | Each package for Python should be installed
      pkgng:
        name:  "{{ item }}"
        state: "present"
      with_items: "{{ bootstrap.packages.freebsd.install.python }}"
  when: ansible_os_family == "FreeBSD"

# -----------------------------------------------------------------------------
- block:
    - name: install-pkg | RedHat | Each packages should be removed
      yum:
        name:  "{{ item }}"
        state: "absent"
      with_items: "{{ bootstrap.packages.redhat.removed }}"

    - name: install-pkg | RedHat | Each package for development should be installed
      yum:
        name:  "{{ item }}"
        state: "present"
      with_items: "{{ bootstrap.packages.redhat.install.devel }}"

    - name: install-pkg | RedHat | Each package for utils should be installed
      yum:
        name:  "{{ item }}"
        state: "present"
      with_items: "{{ bootstrap.packages.redhat.install.utils }}"

    - name: install-pkg | RedHat | Each package for Python should be installed
      yum: 
        name:  "{{ item }}"
        state: "present"
      with_items: "{{ bootstrap.packages.redhat.install.python }}"

    - name: install-pkg | RedHat | Other packages should be installed
      ignore_errors: true
      yum: 
        name:  "{{ item }}"
        state: "present"
      with_items: "{{ bootstrap.packages.redhat.install.others }}"
  when: ansible_os_family == "RedHat"

# -----------------------------------------------------------------------------
- block:
    - name: install-pkg | Debian | Each packages should be removed
      apt:
        name:  "{{ item }}"
        state: "absent"
      with_items: "{{ bootstrap.packages.debian.removed }}"

    - name: install-pkg | Debian | Each package for development should be installed
      apt:
        name:  "{{ item }}"
        state: "present"
      with_items: "{{ bootstrap.packages.debian.install.devel }}"

    - name: install-pkg | Debian | Each package for utils should be installed
      apt:
        name:  "{{ item }}"
        state: "present"
      with_items: "{{ bootstrap.packages.debian.install.utils }}"

    - name: install-pkg | Debian | Each package for Python should be installed
      apt:
        name:  "{{ item }}"
        state: "present"
      with_items: "{{ bootstrap.packages.debian.install.python }}"
  when: ansible_os_family == "Debian"

# -----------------------------------------------------------------------------
- block:
    - name: install-pkg | RedHat | pip should be installed from EPEL
      when: ansible_distribution_major_version < 7
      yum:
        name: "python-pip"
        state: "present"
        enablerepo: "epel"

    - name: install-pkg | pip command should be installed
      when: ansible_distribution_major_version > 6
      shell: easy_install pip
      args:
        creates: "/usr/bin/pip"
  when: ansible_os_family == "RedHat"

