---
#  _                 _       _                     ___                     _ _               
# | |__   ___   ___ | |_ ___| |_ _ __ __ _ _ __   / / |__   __ _ _ __   __| | | ___ _ __ ___ 
# | '_ \ / _ \ / _ \| __/ __| __| '__/ _` | '_ \ / /| '_ \ / _` | '_ \ / _` | |/ _ \ '__/ __|
# | |_) | (_) | (_) | |_\__ \ |_| | | (_| | |_) / / | | | | (_| | | | | (_| | |  __/ |  \__ \
# |_.__/ \___/ \___/ \__|___/\__|_|  \__,_| .__/_/  |_| |_|\__,_|_| |_|\__,_|_|\___|_|  |___/
#                                         |_|                                                
# handlers file for ar-bootstrap
- name: Restart yum-cron
  when: ansible_os_family == "RedHat"
  service:
    name:  "yum-cron"
    state: "restarted"

- name: Restart timesyncd
  when: ansible_os_family == "Debian"
  service:
    name:  "timesyncd"
    state: "restarted"

